[Unit]
Description=This service will wait for a WOL packet (standard UDP port 9) that contains the PC's reversed MAC address and put the PC in sleep mode
After=network.target

[Service]
WorkingDirectory=/opt/SleepOnLan
ExecStart=/opt/SleepOnLan/SleepOnLan
Type=exec
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target